<div class="wrapper">

    <div class="title">
        <p> Thông tin User</p>

    </div>


    <form class="editForm text-center" (ngSubmit)="edit(editForm.value)" #editForm="ngForm">

        <div class="form-item ">

            <div class="form-item_content">


                <p>Tài Khoản</p>
                <input type="text" readonly name='taiKhoan' #taiKhoan='ngModel' ngModel value={{user.taiKhoan}}>

                <p>Mật Khẩu</p>
                <input type="password" name='matKhau' #matKhau='ngModel' ngModel value={{user.matKhau}}>

                <p>Mật khẩu mới</p>
                <input type="password">

                <p>Nhập lại mật khẩu mới</p>
                <input type="password">

                <div class="text-center">
                    <button type="submit">Thay đổi</button>
                </div>

            </div>
        </div>
        <div class="form-item">
            <div class="form-item_content">


                <p>Họ tên</p>
                <input type="text" value={{user.hoTen}}>

                <p>Email</p>
                <input type="email" value={{user.email}}>

                <p>Số điện thoại</p>
                <input type="number" value={{user.soDT}}>

                <p>Loại người dùng</p>
                <input type="text" value={{user.loaiNguoiDung}}>

                <div class="text-center">
                    <button type="submit">Thay đổi</button>
                </div>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item_content">
                <p>Thông tin đặt vé</p>
                <p>{{user.thongTinDatVe}}</p>
            </div>


        </div>

    </form>
</div>