@import '../../../sass/variables';
.menu {
    position: fixed;
    top: 0;
    background-color: $color-primary;
    min-height: 1500px;
    width: 250px;
    .logo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 80px;
    }
    .content {
        line-height: 40px;
        margin-top: 50px;
        a {
            margin-left: 30px;
            text-decoration: none;
            color: #aeb1b3;
        }
        a.active {
            position: relative;
            color: white;
        }
        a.active::before {
            content: '.';
            left: -15px;
            top: -18px;
            font-size: 30px;
            position: absolute;
        }
    }
}