@import './variables';
@import './mixins';

/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #dbdbdb;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    height: 30px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #777;
}