<div class="footer ">

    <div class="footer-content container">
        <div class="logo">
            <img src="assets/img/icons/zion-logo.jpg" alt="">
        </div>



        <div>
            <p>
                123PHIM – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION
            </p>
            <p>
                Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Thành phố Hồ Chí Minh
            </p>
            <p>
                Mã số thuế: 0101659783
            </p>
        </div>
        <div class="boco">
            <img src="assets/img/icons/9693e0dbb6ceb3b274afeb6aa09a911f.png" alt="">
        </div>
    </div>


</div>