<div class="footer ">

    <div class="footer-content1 container">

        <div>
            <p class='title'>123Phim</p>
            <p>FAQ</p>
            <p>Brand Guidelines</p>

        </div>
        <div>

            <p class='title'>Term and condition</p>
            <p>Thỏa thuận sử dụng</p>
            <p>Quy chế hoạt động</p>
            <p>Chính sách bảo mật</p>
            <p>Quyền lợi thành viên</p>
        </div>
        <div>
            <p class='title '>ĐỐI TÁC</p>
            <div class="doi-tac">
                <img src="assets\img\icons\icon-bhd.png" alt="">
                <img src="assets\img\icons\icon-bt.jpg" alt="">
                <img src="assets\img\icons\icon-cgv.png" alt="">
                <img src="assets\img\icons\icon-cinestar.png" alt="">
                <img src="assets\img\icons\icon-cnx.jpg" alt="">
                <img src="assets\img\icons\icon-dongdacinema.png" alt="">
                <img src="assets\img\icons\icon-galaxycine.png" alt="">
                <img src="assets\img\icons\icon-lotte.png" alt="">
                <img src="assets\img\icons\icon-megags.png" alt="">
                <img src="assets\img\icons\icon-TOUCH.png" alt="">
            </div>

        </div>
        <div class='title'>
            <p class='title'>MOBILE APP</p>
            <img src="assets\img\icons\apple-logo.png" alt="">
            <img src="assets\img\icons\android-logo.png" alt="">

        </div>
        <div>
            <p class='title'>SOCIAL</p>
            <img src="assets\img\icons\facebook-logo.png" alt="">
            <img src="assets\img\icons\zalo-logo.png" alt="">
        </div>

    </div>

    <div class="footer-content container">
        <div class="logo">
            <img src="assets/img/icons/zion-logo.jpg" alt="">
        </div>



        <div>
            <p>
                123PHIM – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION
            </p>
            <p>
                Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Thành phố Hồ Chí Minh
            </p>
            <p>
                Mã số thuế: 0101659783
            </p>
        </div>
        <div class="boco">
            <img src="assets/img/icons/9693e0dbb6ceb3b274afeb6aa09a911f.png" alt="">
        </div>
    </div>


</div>