<div class="wrapper ">
    <div class="item item1 logo">
        <a href=""> <img class="webLogo" src="./assets/img/icons/web-logo.png"></a>

    </div>


    <div class="navbar_nav  item2 ">
        <a href=#phim-dang-chieu>Lịch Chiếu</a>
        <a href="">Cụm rạp</a>
        <a href="">Tin tức</a>
        <a href="">Ứng dụng</a>
    </div>

    <div class="item item3 dropdown">
        <a *ngIf="!isLogin; else logined" [routerLink]="['/login']">Login</a>
    </div>


</div>


<ng-template #logined>

    <a id="username" *ngIf="isLogin">{{username}}</a>

    <button id="Logout">Logout</button>


</ng-template>