<!-- <div class="">
    <div class="wrapper slick">
        <div *ngFor="let item of DanhSachPhim">
            <app-phim (valueChange)='trailer($event)' [phim]="item"></app-phim>
        </div>
DanhSachPhimChunk
    </div>
</div> -->

<div id="phim-dang-chieu">
    <a>Đang Chiếu</a>
    <a>Sắp Chiếu</a>
</div>


<div class=" container ">
    <div class=" content ">

        <ngx-slick class="carousel  " #slickModal="slick-modal" [config]="slideConfig">

            <div ngxSlickItem class="slide wrapper" *ngFor="let item of DanhSachPhimChunk ;let  index = index">

                <div *ngFor="let item of DanhSachPhimChunk[index]" class="">
                    <app-phim (valueChange)='trailer($event)' [phim]="item"></app-phim>
                </div>



            </div>

        </ngx-slick>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="trailerPhimModal" tabindex="-1" role="dialog" aria-labelledby="trailerPhimModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <iframe width="636" height="386" [src]="safeTrailerURL | safe: 'resourceUrl'" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>