<div class="wrapper">

    <div class="img">
        <img src="assets/img/icons/bg-login2.jpg" alt="">
    </div>
    <div class="login text-center ">
        <a [routerLink]="['']" routerLinkActive="router-link-active"> <img class="logo"
                src="assets\img\icons\web-logo.png" alt=""></a>

        <p class="title">Log in to 123Phim</p>

        <form class="example-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User name" id='user' name='user' #user='ngModel' ngModel required>




                </mat-form-field>

                <div *ngIf="user.errors && (user.dirty || user.touched)" class="alert-login">
                    <div *ngIf="user?.errors.required">


                        <span>Vui lòng nhập user</span>
                    </div>

                </div>



            </div>

            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type='password' name="password" #password='ngModel' ngModel
                        required>
                </mat-form-field>
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert-login">
                    <div *ngIf="password?.errors.required">


                        <span>Vui lòng nhập password</span>
                    </div>

                </div>


            </div>
            <div>
                <button type="submit" class="submit" [disabled]='!loginForm.valid'
                    [ngClass]="{disabled: !loginForm.valid}">Login</button>
            </div>


            <div class="login-failed " *ngIf="error !==''">

                <span>{{this.error}}</span>
            </div>

            <div class="logined" *ngIf="isLogin">

                <span>Đăng nhập thành công</span>
            </div>




        </form>

        <div class="home">
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Chưa có tài khoản? Đăng ký ngay!</a>
        </div>

    </div>



</div>