<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- ---------------------------------------------------------   tool bar --------------------------- -->
<div class="tool">
    <div class="demo"><img src="https://img.icons8.com/color/48/000000/facebook-new.png">
        <a [routerLink]="['']">Facebook</a> </div>
    <div class="demo"><img src="https://img.icons8.com/color/48/000000/facebook-messenger.png">
        <a [routerLink]="['']">Messenger</a></div>
    <div class="demo"><img src="https://img.icons8.com/color/48/000000/youtube-play.png">
        <a [routerLink]="['']">Youtube</a></div>
    <div class="demo"><img src="https://img.icons8.com/color/48/000000/phone.png">
        <a [routerLink]="['']">Hot Line</a>
    </div>
    <div class="demo"><img src="https://img.icons8.com/color/48/000000/send-mass-email.png">
        <a [routerLink]="['']">Liên hệ email</a></div>


</div>