@import '../../../sass/variables';
@import '../../../sass/mixins';
.wrapper {
    // height: 1100px;
    margin: auto;
    width: 100%;
    text-align: center;
    // position: relative;
    .wrapper-content {
        width: 80%;
        transform: translateX(10%);
        // @include midle;
        top: 40%;
        margin-bottom: 60px;
    }
    img {
        border-radius: 5px;
    }
    .title-wrapper {
        margin: 30px 0 30px 0;
        button {
            background-color: white;
            margin-left: 30px;
            // border: 1px solid grey;
            border: none;
            padding: 10px;
            color: $color-primary;
            font-size: 24px;
        }
        button:hover {
            background-color: rgba($color-grey, $alpha: 0.6);
        }
    }
    .content-1 {
        .content-1_logo {
            margin: 20px 0 20px 0;
            a {
                margin-right: 20px;
                line-height: 20px;
                span {
                    margin-left: 10px;
                    color: gray;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        img {
            width: 100%;
            height: 300px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: black;
            p {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: bold;
            }
        }
        a:hover {
            color: $color-primary;
        }
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
    .content-2 {
        .content-2_logo {
            margin: 20px 0 20px 0;
            a {
                font-weight: normal;
                margin-right: 20px;
                line-height: 20px;
                span {
                    margin-left: 10px;
                    color: gray;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        margin-top: 10px;
        img {
            width: 100%;
            height: 150px;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        a:hover {
            color: $color-primary;
            font-weight: bold;
        }
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 160px;
        grid-column-gap: 15px;
        .content-2_2 {
            img {
                width: 50px;
                height: 50px;
            }
            // display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: 1fr 1fr 1fr 1fr ;
            // grid-row-gap: 15px;
            .content-2_2_item {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-column-gap: 10px;
                p {
                    font-weight: normal;
                    color: gray;
                }
                p:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

.blank {
    display: inline-block;
    height: 60px;
    background-color: yellow;
}

.xem-them {
    button {
        border-radius: 10px;
        border: 1px solid grey;
        background-color: white;
        color: grey;
        width: 130px;
        // height: 30px;
        padding: 10px;
    }
}

.xem-them {
    margin-top: 230px;
    button:hover {
        background-color: #fb4226;
        border-color: #fb4226;
        color: white;
    }
}

// -------------------------
.loading {
    .spinner {
        transform: translate(400px, -20px);
        // transform: translateY(-100px);
        // margin: 100px auto 0;
        width: 70px;
        text-align: center;
    }
    .spinner>div {
        width: 18px;
        height: 18px;
        background-color: $color-primary;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }
    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
}