<div class="wrapper container " id="tin-tuc">
    <div class="title-wrapper">

        <span>
            Điện Ảnh 24h
        </span>

        <span>Review</span>


        <span>
            Khuyến Mãi
        </span>



    </div>



    <div class="content-1">
        <div>
            <a
                href="https://123phim.vn/goc-dien-anh/7803-4-su-khac-biet-thu-vi-giua-ban-dien-anh-va-nguyen-tac-goc-cua-doctor-sleep">
                <img src="https://s3img.vcdn.vn/123phim/2019/11/4-su-khac-biet-thu-vi-giua-ban-dien-anh-va-nguyen-tac-goc-cua-15738060056189.jpg"
                    alt="">

                <p>4 sự khác biệt thú vị giữa bản điện ảnh và nguyên tác gốc của Doctor Sleep</p>




            </a>

            <div>
                Mike Flanagan đã thay đổi kịch bản so với tiểu thuyết gốc, nhưng vì sao "cha đẻ" lại vô vùng thích thú,
                hào hứng Doctor Sleep?
            </div>
            <div class="content-1_logo">
                <a href="">
                    <img src="assets\img\icons\like.png" alt="">
                    <span>0</span>
                </a>
                <a href="">
                    <img src="assets\img\icons\comment.png" alt="">
                    <span>0</span>
                </a>
            </div>

        </div>

        <div>

            <a
                href="https://123phim.vn/goc-dien-anh/7799-dau-nam-2020-ju-on-san-sang-chao-don-ban-tai-phong-chieu-viet">
                <img src="https://s3img.vcdn.vn/123phim/2019/10/dau-nam-2020-ju-on-san-sang-chao-don-ban-tai-phong-chieu-viet-15723562360234.jpg"
                    alt="">

                <p>
                    Đầu năm 2020, Ju-On sẵn sàng chào đón bạn tại phòng chiếu Việt

                </p>


            </a>
            <div>
                <br>
                <p>
                    Xem trailer mà gai hết người thật sự.
                </p>

                <div class="content-1_logo">
                    <br>
                    <a href="">
                        <img src="assets\img\icons\like.png" alt="">
                        <span>0</span>
                    </a>
                    <a href="">
                        <img src="assets\img\icons\comment.png" alt="">
                        <span>0</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="content-2">


        <div>
            <a
                href="https://123phim.vn/goc-dien-anh/7794-bac-kim-thang-va-nhung-chi-tiet-dat-gia-trong-trailer-cuoi-cung">
                <img src="https://s3img.vcdn.vn/123phim/2019/10/eb43fee011ec1fb7e9ab514b4f38cb99.jpg" alt="">

                <p> Bắc Kim Thang và những chi tiết đắt giá trong trailer cuối cùng
                </p>

            </a>
            <div>
                Xem xong trailer này, có ai tiếc thay thân phận của Hai Lầm hay không?
            </div>
            <div class="content-2_logo">
                <a href="">
                    <img src="assets\img\icons\like.png" alt="">
                    <span>0</span>
                </a>
                <a href="">
                    <img src="assets\img\icons\comment.png" alt="">
                    <span>0</span>
                </a>
            </div>
        </div>


        <div>
            <a href="https://123phim.vn/goc-dien-anh/7788-sau-10-ngay-khoi-chieu-joker-da-thu-ve-gan-60-ty-dong">
                <img src="https://s3img.vcdn.vn/123phim/2019/10/e88783518d5cadbd285b9f59ffe64d2c.jpg" alt="">
                <p>
                    Sau 10 ngày khởi chiếu, Joker đã thu về gần 60 tỷ đồng
                </p>

            </a>
            <div>
                <p class="newsDescription ng-binding ng-scope" ng-if="isBigNews($index)">Dù đã bước sang đến
                    tuần
                    thứ 2
                    nhưng Joker vẫn chưa có dấu hiệu hạ nhiệt tại phòng chiếu Việt.</p>
            </div>
            <div class="content-2_logo">
                <a href="">
                    <img src="assets\img\icons\like.png" alt="">
                    <span>0</span>
                </a>
                <a href="">
                    <img src="assets\img\icons\comment.png" alt="">
                    <span>0</span>
                </a>
            </div>

        </div>



        <div class="content-2_2">
            <a class="content-2_2_item"
                href="https://123phim.vn/goc-dien-anh/7787-vi-sao-joker-la-ke-pha-n-die-n-duo-c-yeu-thi-ch-nha-t">
                <img src="https://s3img.vcdn.vn/123phim/2019/10/vi-sao-joker-la-ke-pha-n-die-n-duo-c-yeu-thi-ch-nha-t-15710479210371.jpg"
                    alt="">
                <p>
                    Vì sao Joker là kẻ phản diện được yêu thích nhất?
                </p>

            </a>
            <a class="content-2_2_item"
                href="https://123phim.vn/goc-dien-anh/7784-ed-sheeran-lo-lem-lily-james-va-nhieu-sao-lon-cung-gop-mat-trong-phim-ca-nhac-yesterday">
                <img src="https://s3img.vcdn.vn/123phim/2019/09/b3106edaf174fc6f1c9976b0e9eca940.jpg" alt="">
                <p>
                    Sheeran, 'Lọ Lem' Lily James và nhiều sao lớn cùng góp mặt trong phim
                </p>
            </a>
            <a class="content-2_2_item"
                href="https://123phim.vn/goc-dien-anh/7784-ed-sheeran-lo-lem-lily-james-va-nhieu-sao-lon-cung-gop-mat-trong-phim-ca-nhac-yesterday">
                <img src="https://s3img.vcdn.vn/123phim/2019/09/vuot-ai-kiem-quyet-that-son-tam-linh-chinh-thuc-tan-cong-phong-ve-viet-15688605409009.jpg"
                    alt="">
                <p>
                    Vượt ải kiểm quyệt, Thất Sơn Tâm Linh chính thức tấn công phòng vé
                </p>

            </a>
            <a class="content-2_2_item"
                href="https://123phim.vn/goc-dien-anh/7782-khong-pho-truong-cau-ky-nhung-loi-tu-biet-lai-dang-lam-mua-lam-gio-tai-cac-lhp-trong-nam-nay">
                <img src="https://s3img.vcdn.vn/123phim/2019/09/khong-pho-truong-cau-ky-nhung-loi-tu-biet-lai-lam-mua-lam-gio-tai-cac-lhp-nam-nay-15687978421102.jpg"
                    alt="">
                <p>
                    Không phô trương, cầu kỳ nhưng Lời Từ Biệt lại đang 'làm mưa làm gió'
                </p>

            </a>
        </div>
    </div>

</div>