<div class="wrapper container border" id="cum-rap">

    <div class="he-thong-rap  ">
        <div *ngFor="let item of heThongRap, let index = index " class="he-thong-rap_item deactive " [ngClass]="{active: CumRapIndex === index}">
            <button (click)=getCumRap(ListCumRap[index],index)>

                <img src={{item.logo}} alt="">

            </button>


        </div>
    </div>


    <div class="cum-rap">
        <div *ngFor="let item of CumRap, let index = index" class="cum-rap_item deactive" [ngClass]="{active: RapIndex === index}">
            <img src="../../../assets/img/icons/cinestar-quoc-thanh-15379636956745.jpg" alt="">
            <div class="cum-rap_hover">
                <button id="btn" (click)="getRap(item,index)">
                    {{item.tenCumRap}}

                </button>

                <div>
                    <span>{{item.diaChi}}</span>
                </div>
            </div>



        </div>
    </div>

    <div class="list-phim">
        <div *ngFor="let item of ListPhimOfRap" class="ten-phim list-phim_hover">

            <div>
                <span id="item-p">P</span>
                <span id="ten-phim_span"> {{item.tenPhim}}</span>
            </div>
            <div class="lich-chieu">
                <img src="../../../assets/img/icons/2_0.png" alt="">
                <ng-container *ngFor="let item of item.lstLichChieuTheoPhim">
                    <a *ngIf="item.ngayChieuGioChieu.slice(0, 10) === today" (click)="datVe(item)">
                        {{item.ngayChieuGioChieu.slice(11,16)}}
                    </a>
                </ng-container>
            </div>


        </div>
    </div>
</div>