<div class="wrapper">

    <div class="wrapper1  ">
        <div class="footer">

            <div class="step">
                <span>01 CHỌN GHẾ</span>
                <span>
                        02 THANH TOÁN
                    </span>
                <span>
                        03 KẾT QUẢ ĐẶT VÉ
                    </span>


                <span>Login</span>


            </div>
        </div>


        <div class="dat-ve">

            <div class="dat-ve_item1">

                <div class="dat-ve_item1_content2">
                    <p>{{DanhSachPhongVe.thongTinPhim.tenCumRap}}</p>
                    <p>
                        Ngày chiếu: {{DanhSachPhongVe.thongTinPhim.ngayChieu}} - {{DanhSachPhongVe.thongTinPhim.gioChieu}} - {{DanhSachPhongVe.thongTinPhim.tenRap}}
                    </p>
                    <p>{{DanhSachPhongVe.thongTinPhim.diaChi}}</p>
                </div>

            </div>
            <div class="dat-ve_item2">

                <div>
                    <img src="assets\img\icons\screen.png" alt="">
                </div>
                <div class="dat-ve_item2_content">



                    <div class="ten-day-ghe">
                        <div *ngFor="let item of anphabet">
                            <p>{{item}}</p>

                        </div>
                    </div>

                    <div class="danh-sach-ghe">

                        <ng-container *ngFor="let item of DanhSachPhongVe.danhSachGhe">
                            <button> </button>
                        </ng-container>
                        <p *ngFor="let item of indexGhe; let index = index">{{index+1}}</p>

                    </div>


                </div>

            </div>






        </div>
    </div>
    <div class="wrapper2">
        <p>{{DanhSachPhongVe.thongTinPhim.diaChi}}</p>
    </div>
</div>