<div class="wrapper  ">

    <div class="wrapper1  ">
        <div class="footer">

            <div class="step container">
                <div>
                    <span>01 CHỌN GHẾ</span>
                    <span>
                        02 THANH TOÁN
                    </span>
                    <span>
                        03 KẾT QUẢ ĐẶT VÉ
                    </span>

                </div>

                <div>
                    <span>Login</span>
                </div>



            </div>
        </div>


        <div class="dat-ve">

            <div class="dat-ve_item1  ">

                <!-- <div class="dat-ve_item1_content2">
                    <p>{{DanhSachPhongVe.thongTinPhim.tenCumRap}}</p>
                    <p>
                        Ngày chiếu: {{DanhSachPhongVe.thongTinPhim.ngayChieu}} -
                        {{DanhSachPhongVe.thongTinPhim.gioChieu}} - {{DanhSachPhongVe.thongTinPhim.tenRap}}
                    </p>

                </div> -->

            </div>
            <div class="dat-ve_item2">



                <div class="screen">

                    <div class="dat-ve_item2_content2">
                        <p>{{DanhSachPhongVe.thongTinPhim.tenCumRap}}</p>
                        <p>
                            Ngày chiếu: {{DanhSachPhongVe.thongTinPhim.ngayChieu}} -
                            {{DanhSachPhongVe.thongTinPhim.gioChieu}} - {{DanhSachPhongVe.thongTinPhim.tenRap}}
                        </p>

                    </div>
                    <img src="assets\img\icons\screen.png" alt="">
                </div>
                <div class="dat-ve_item2_content">



                    <!-- <div class="ten-day-ghe">
                        <div *ngFor="let item of anphabet">
                            <p>{{item}}</p>

                        </div>
                    </div> -->

                    <div class="danh-sach-ghe ">

                        <ng-container *ngFor="let item of DanhSachPhongVe.danhSachGhe">
                            <button class="button-ghe" (click)="selectedGhe(item)"
                                [ngClass]="{'vip': item.loaiGhe =='Vip', 'daDat' : item.daDat, 'selected': item.selected}">
                            </button>
                        </ng-container>
                        <p *ngFor="let item of indexGhe; let index = index">{{index+1}}</p>



                    </div>



                </div>


            </div>

            <div class="btn-example">

                <div>

                    <div>

                        <button class="button-ghe "></button>
                        <span>Ghế thường</span>
                    </div>

                    <div>
                        <button class="button-ghe "></button>
                        <span>Ghế Vip</span>
                    </div>
                </div>
                <div>



                    <div>
                        <button class="button-ghe "></button>
                        <span>Ghế đã đặt</span>
                    </div>


                    <div>
                        <button class="button-ghe "></button>
                        <span>Đang chọn</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrapper2 ">

            <div class="container">

                <div class="tong-tien">
                    <p *ngIf="tongTien != 0">{{tongTien}} đ</p>
                </div>
                <div class="thong-tin-phim">
                    <p> <span>P</span> {{DanhSachPhongVe.thongTinPhim.tenPhim}}
                    </p>

                    <p>
                        Ngày chiếu: {{DanhSachPhongVe.thongTinPhim.ngayChieu}} -
                        {{DanhSachPhongVe.thongTinPhim.gioChieu}} - {{DanhSachPhongVe.thongTinPhim.tenRap}}
                    </p>
                    <p>{{DanhSachPhongVe.thongTinPhim.diaChi}}</p>
                </div>
                <div class="ghe">
                    <div>
                        <p>Ghế:
                            <span *ngFor="let item of danhSachGheChon"> {{item.tenGhe}}</span>

                        </p>
                    </div>


                </div>
                <div class="email">
                    <input type="Email" placeholder="Email">
                </div>

                <div class="phone">
                    <input type="Phone" placeholder="Phone">
                </div>

                <div class="thanh-toan">
                    <p>Hình thức thanh toán</p>
                    <p>
                        <mat-checkbox>Thanh toán qua ZaloPay</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox>Visa, Master, JCB</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox>Thẻ ATM nội địa</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox>Thanh toán tại cửa hàng tiện ích</mat-checkbox>
                    </p>


                </div>
                <div class="ghi-chu">
                    <p>
                        <span class="!">!</span> Vé đã mua không thể hoàn tiền</p>
                    <p>Mã vé sẽ được gửi qua tin nhắn SMS và email </p>
                </div>

            </div>
            <div class="dat-ve">
                <button>Đặt vé</button>
            </div>
        </div>
    </div>

</div>