<div>




    <div>

        <div>
            <span>01 CHỌN LOẠI VÉ</span>
            <span>
                02 CHỌN GHẾ & THANH TOÁN
            </span>
            <span>
                03 KẾT QUẢ ĐẶT VÉ
            </span>
        </div>
        <div>
            <span>Login</span>
        </div>


    </div>


    <div>
        <div>
            <img src={{phim.hinhAnh}} alt="">
        </div>
        <div>
            <div>
                <p>{{datVe.thongTinRap.tenCumRap}}</p>
            </div>



        </div>
    </div>
</div>