<div class="bg">



    <div *ngIf="loading" class="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>


    <div *ngIf="!loading" class="warpper">

        <div class="gioi-thieu-warpper  container">
            <div class="gioi-thieu ">


                <div>
                    <div class="play-video-warpper">



                        <img class="video-img" src={{phim.hinhAnh}} alt="">


                        <div class="play-video">
                            <button class="btn_play-video" data-toggle="modal" data-target="#trailerPhimModal"
                                (click)="showtrailer()">
                                <img src="./assets/img/icons/play-video.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="intro">
                    <!-- <p>Ngày công chiếu: {{phim.ngayKhoiChieu.slice(0,10)}}</p> -->
                    <p class="ten-phim">{{phim.tenPhim}}</p>
                    <p>Đánh giá: {{phim.danhGia}} IMDb - 2D/Digital/3D/IMAX/4DX</p>
                    <!-- <a href="/phim/{{phim.maPhim}}#mua-ve">Mua vé</a> -->

                    <button mat-raised-button color="primary" [ngx-scroll-to]="'lich-chieu'">Mua vé</button>

                </div>

                <div class="danh-gia">
                    <img src="assets\img\icons\danhGia.PNG" alt="">
                </div>
            </div>
        </div>



        <div class="title">

            <button (click)='getLichChieu()'>Lịch Chiếu</button>

            <button (click)='getThongTin()'>Thông Tin</button>

            <button (click)='getDanhGia()'>Đánh giá</button>




        </div>





        <div *ngIf="showLichChieu" class="lich-chieu" id="lich-chieu">



            <div class="logo">
                <div *ngFor="let item of cumRap; let index = index" class="logo-item">
                    <button (click)="getListTenRap(item)">
                        <div class="logo-item-content">
                            <div>
                                <img class="logo-img" src={{cumRapLogo[index]}} alt="">
                            </div>

                            <div>
                                <span>{{item}}</span>
                            </div>

                        </div>


                    </button>

                </div>


            </div>

            <div class="lich-chieu_item">
                <div class="ngay-chieu">

                    <button *ngFor="let item of ngayChieu" (click)=changeNgay(item)>
                        {{item  }}
                    </button>




                </div>
                <div>


                    <div class="lich-chieu_item1" *ngFor="let item of lichChieu ; let index = index">
                        <div class="cum-rap">
                            <img src="assets\img\icons\cinestar-quoc-thanh-15379636956745.jpg" alt="">
                            <span>{{tenCumRap[index]}}</span>


                        </div>

                        <div class="xuat-chieu">
                            <img src="assets\img\icons\2_0.png" alt="">

                            <a *ngFor="let item of lichChieu[index]" (click)="muaVe(item,tenCumRap[index])">
                                {{item.slice(11, 16)}}</a>


                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div *ngIf="showDanhGia" class="review ">



            <div *ngFor="let item of review; let index=index" class="review-item">

                <div class="review-content">

                    <div class="content1">
                        <div>
                            <img src="assets\img\icons\facebook-logo.png" alt="">
                        </div>
                        <div class="content1-ten">
                            <span>{{item.ten}}</span>
                            <p>{{item.time}}</p>
                        </div>
                        <div class="rate">
                            <star-rating value={{item.rate}} totalstars="5" checkedcolor="red" uncheckedcolor="black"
                                size="13px" readonly="false" (rate)="onRate($event)" class="rate-content"></star-rating>
                        </div>

                    </div>



                    <p>{{item.comment}}</p>
                </div>

                <div class="mt-2 like">
                    <i class="fa fa-thumbs-o-up"></i> {{item.like}} Thích
                </div>





            </div>


            <div class="review-item comment">
                <div *ngIf="loading2" class="loading2">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <star-rating value="3" #rate totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px"
                    class="text-center " readonly="false" (rate)="onRate($event)"></star-rating>
                <input type="text" placeholder="Viết đánh giá của bạn" #comment>
                <button class="send" (click)='send(comment.value,rate.value)'>Gửi</button>
            </div>



        </div>


    </div>



</div>


<!-- Modal -->
<div class="modal fade " id="trailerPhimModal" tabindex="-1" role="dialog" aria-labelledby="trailerPhimModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <!-- <iframe width="640" height="390" [src]="safeTrailerURL | safe: 'resourceUrl'"></iframe> -->
            <iframe width="636" height="386" [src]="safeTrailerURL | safe: 'resourceUrl'" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <!-- <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
    </div>
</div>


<!-- ------------------------------------------ loading------------------------- -->

<!-- <div class="my-container ">
    <ng-template #customLoadingTemplate>
        <div class="custom-class loading">

        </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div> -->





<!-- <div *ngIf="loading" class="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div> -->