@import '../../../sass/variables';
@import '../../../sass/mixins';
.bg {
    //   background-image: image("src\assets\img\icons\bg.jpg");
    background-image: url("../../../../src/assets/img/icons/BeFunky-photo.jpg");
    /* Add the blur effect */
    //   filter: blur(8px);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* Full height */
    // height: 100%;
    width: 100%;
    min-height:1100px
}

.warpper {
    min-height: 1150px;
    margin-top: 60px;
    .gioi-thieu {
        .play-video-warpper {
            width: 215px;
            height: 340px;
            position: relative;
            .video-img {
                img {
                    width: 100%;
                }
            }
            .play-video {
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: all 0.5s;
                .btn_play-video {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    background-color: transparent;
                    border: none;
                }
            }
        }
        transform: translateX(130px);
        margin-top: 60px;
        width: 70%;
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-column-gap: 50px;
        justify-content: space-around;
        color: white;
        .intro {
            // transform: translateY(80px);
            padding-top: 80px;
        }
        .ten-phim {
            font-size: 25px;
            font-weight: bold;
            color: $color-primary;
        }
        .danh-gia {
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 120px;
                border-radius: 5px;
            }
        }
    }
   
    .title {
        z-index: 99;
        margin-top: 30px;
        text-align: center;
       

        button {
            margin-left: 30px;
            font-size: 22px;
            color: white;
            border: none;
            background-color: transparent;
        }
        button:hover{
            color: $color-primary;
        }
    }
    .lich-chieu {
       
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        display: grid;
        margin-top: 60px;
        width: 70%;
        padding-bottom: 50px;
        min-height: 500px;
        // min-height: 400px;
        // max-height: 600px;;
        overflow: auto;
        border-radius: 5px;
        ;
        grid-template-columns: 1.5fr 3fr;
        grid-column-gap: 30px;
        .logo {
            margin-top: 20px;
            margin-left: 20px;
            border-right: solid 1px $color-grey;
            .logo-item {
                line-height: 50px;
                text-align: start;
                margin-bottom: 10px;
                @include underLine;
                .logo-item-content {
                    display: grid;
                    text-align: start;
                    grid-template-columns: 50px 1fr;
                    grid-column-gap: 10px;
                    justify-content: start;
                }
            }
            button {
                background-color: transparent;
                border: none;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }
                span {
                    font-size: 18px;
                }
            }
        }
        .ngay-chieu {
            margin-top: 15px;
            margin-right: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 50px;
            grid-column-gap: 20px;
            @include underLine;
            button {
                background-color: transparent;
                border: none;
                padding: 0;
                text-align: start;
                font-size: 18px;
                font-weight: bold;
                color: gray;
            }
        }
        .lich-chieu_item {
            .lich-chieu_item1 {
                .cum-rap {
                    margin: 20px 0 20px 0;
                    img {
                        @include icon;
                        widows: 50px;
                        height: 50px;
                    }
                    span {
                        font-size: 20px;
                        color: $color-primary;
                        font-weight: bold;
                        margin-left: 20px;
                    }
                }
                .xuat-chieu {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-column-gap: 15px;
                    justify-content: center;
                    @include xuat-chieu;
                    img {
                        margin-top: 10px;
                        @include icon;
                    }
                }
            }
        }
    }
    .review {
        padding: 30px;
        // background-color: rgba(255, 255, 255, 0.6);
        // box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        // position: absolute;
        // transform: translateX(-50%);
        // left: 50%;
        // border-radius: 10px;
        // min-width: 400px;
        // min-height: 300px;
        // margin-top: 40px;

        .review-item {
            padding: 20px;
            margin: auto;
            margin-bottom: 20px;
           width: 600px;
            // min-height: 180px;
            border: none;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 1);
            color: black;
            .review-content {
                border-bottom: 1px solid #e6e6e6;
                .content1 {
                    // line-height: 32px;
                    display: grid;
                    grid-template-columns: 32px 400px 120px;
                    grid-column-gap: 10px;
                    img {

                        margin-right: 10px;
                        width: 32px;
                        height: 32px;
                    }
                    .content1-ten {
                        p {
                            // transform: translateY(-5px);
                            font-size: 11px;
                            color: gray;
                        }
                    }
                }


                .rate {
                justify-self: end;
                transform: translateY(-20px)
               
               
                }
            }
            .like {
                color: gray;
                span{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
     
       
   

.comment {
  padding-top: 0px;
    input {
        border: 1px solid grey;
        border-radius: 5px;
        height: 25px;
        background-color: rgba(white, 0.6);
        padding: 10px;
        width: 85%;
    }
   
    text-align: start;
    button.send {
        margin-left: 20px;
        border: none;
            border-radius: 10px;
                }
    button.send:hover {
   background-color: $color-primary;
   color: white;
}
}
    }
}

// .loading {
//     //   background-image: image("src\assets\img\icons\bg.jpg");
//     background-image: url("../../../../src/assets/img/icons/BeFunky-photo.jpg");
//     /* Add the blur effect */
//     //   filter: blur(8px);
//     background-position: center;
//     background-repeat: repeat;
//     background-size: cover;
//     /* Full height */
//     width: 1000px;
//     height: 600px;
//     display: block;
// }




.loading {
  
    .spinner {
    //    transform: translate(-120px,-10px);
    transform: translate(600px,200px);

    // transform: scale(0.5);
        // margin: 100px auto 0;
        width: 70px;
        text-align: center;
       
      }
      
      .spinner > div {
        width: 18px;
        height: 18px;
        // background-color: $color-primary;
        background-color:white;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }
      
      .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      
      .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      
      @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
          -webkit-transform: scale(0);
          transform: scale(0);
        } 40% { 
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
      }


}


// -----------------------------------
.loading2 {

    .spinner {
       transform: translate(240px,10px);
        // transform: translateY(-100px);
        // margin: 100px auto 0;
        width: 70px;
        text-align: center;
      }
      
      .spinner > div {
        width: 18px;
        height: 18px;
        background-color: $color-primary;
      
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }
      
      .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      
      .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      
      @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
          -webkit-transform: scale(0);
          transform: scale(0);
        } 40% { 
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
      }


}