<div class="bg">


    <div *ngIf="!loading" class="warpper">

        <div class="gioi-thieu-warpper  container">
            <div class="gioi-thieu ">


                <div>
                    <div class="play-video-warpper">



                        <img class="video-img" src={{phim.hinhAnh}} alt="">


                        <div class="play-video">
                            <button class="btn_play-video" data-toggle="modal" data-target="#trailerPhimModal" (click)="showtrailer()">
                                <img src="./assets/img/icons/play-video.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="intro">
                    <!-- <p>Ngày công chiếu: {{phim.ngayKhoiChieu.slice(0,10)}}</p> -->
                    <p class="ten-phim">{{phim.tenPhim}}</p>
                    <p>Đánh giá: {{phim.danhGia}} IMDb - 2D/Digital/3D/IMAX/4DX</p>
                    <!-- <a href="/phim/{{phim.maPhim}}#mua-ve">Mua vé</a> -->

                    <button mat-raised-button color="primary" [ngx-scroll-to]="'lich-chieu'">Mua vé</button>

                </div>

                <div class="danh-gia">
                    <img src="assets\img\icons\danhGia.PNG" alt="">
                </div>
            </div>
        </div>



        <div class="title">

            <!-- <button>Lịch Chiếu</button>
            <button>Thông Tin</button>
            <button>Đánh giá</button> -->
            <a href="">Lịch Chiếu</a>
            <a href="">Thông Tin</a>
            <a href="">Đánh giá</a>



        </div>



        <div *ngIf="showLichChieu" class="lich-chieu" id="lich-chieu">



            <div class="logo">
                <div *ngFor="let item of cumRap; let index = index" class="logo-item">
                    <button (click)="getListTenRap(item)">
                        <div class="logo-item-content">
                            <div>
                                <img class="logo-img" src={{cumRapLogo[index]}} alt="">
                            </div>

                            <div>
                                <span>{{item}}</span>
                            </div>

                        </div>


                    </button>

                </div>


            </div>

            <div class="lich-chieu_item">
                <div class="ngay-chieu">

                    <button *ngFor="let item of ngayChieu" (click)=changeNgay(item)>
                        {{item  }}
                    </button>




                </div>
                <div>


                    <div class="lich-chieu_item1" *ngFor="let item of lichChieu ; let index = index">
                        <div class="cum-rap">
                            <img src="assets\img\icons\cinestar-quoc-thanh-15379636956745.jpg" alt="">
                            <span>{{tenCumRap[index]}}</span>


                        </div>

                        <div class="xuat-chieu">
                            <img src="assets\img\icons\2_0.png" alt="">

                            <a *ngFor="let item of lichChieu[index]" (click)="muaVe(item,tenCumRap[index])">
                                {{item.slice(11, 16)}}</a>


                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="review ">
            <div class="item1"> <span>Hiếu Nguyễn</span>

                <button>Phim hay quá</button></div>

            <div class="item2">

                <button>Phim hay quá</button>
                <span>Hiếu Nguyễn</span>
            </div>

            <div class="item1"> <span>Hiếu Nguyễn</span>

                <button>Phim hay quá</button></div>

            <div class="item2">

                <button>Phim hay quá</button>
                <span>Hiếu Nguyễn</span>
            </div>

            <div>
                <input type="text" placeholder="Viết đánh giá của bạn">
                <button>Gửi</button>
            </div>
        </div>


    </div>



</div>


<!-- Modal -->
<div class="modal fade " id="trailerPhimModal" tabindex="-1" role="dialog" aria-labelledby="trailerPhimModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <!-- <iframe width="640" height="390" [src]="safeTrailerURL | safe: 'resourceUrl'"></iframe> -->
            <iframe width="636" height="386" [src]="safeTrailerURL | safe: 'resourceUrl'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <!-- <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
    </div>
</div>


<!-- ------------------------------------------ loading------------------------- -->

<div class="my-container ">
    <ng-template #customLoadingTemplate>
        <div class="custom-class loading">

        </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>