.wrapper {
    background-image: url("../../../../src/assets/img/icons/backapp.jpg");
    background-position: center;
    min-height: 450px;
    background-size: cover;
    position: relative;
    color: white;
    .wrapper-content {
        padding-top: 30px;
        padding-bottom: 100px;
        width: 70%;
        margin-left: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        .title {
            margin-top: 150px;
            font-size: 32px;
        }
        p.item1 {
            font-size: 16px;
        }
        button.item2 {
            color: white;
            // font-weight: bold;
            border-radius: 10px;
            border: none;
            background-color: #fb4226;
            margin-bottom: 20px;
            width: 230px;
            height: 40px;
        }
        p.item3 {
            font-size: 14px;
        }
        span {
            text-decoration: underline;
        }
        .hinh-anh {
            margin-top: 60px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 20px;
            .button {
                .button {
                    border-radius: 10px;
                    border: none;
                    background-color: #fb4226;
                }
            }
        }
    }
}