<div class="wrapper ">

    <div class="wrapper-content">


        <div>
            <div class="title">
                <p>Ứng dụng tiện lợi dành cho</p>
                <p>
                    người yêu điện ảnh
                </p>

            </div>
            <div>
                <p class="item1">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>

                <button class="item2">App miễn phí - Tải về ngay!</button>

                <p class="item3">123Phim có hai phiên bản <span>IOS</span> &
                    <SPan>Androi</SPan>
                </p>
            </div>

        </div>

        <div class="hinh-anh">



            <div class="button">
                <div>
                    <button>Android</button>
                </div>
                <div>
                    <button>IOS</button>
                </div>

            </div>


            <div>
                <img src="assets\img\icons\phone_hand.png" alt="">
            </div>



        </div>


    </div>

</div>