<div class="wrapper ">
    <div class="item item1 logo">
        <a [routerLink]="['']"> <img class="webLogo" src="./assets/img/icons/web-logo.png"></a>

    </div>


    <div class="navbar_nav  item2 ">
        <a [routerLink]="['/admin/list-user']">User</a>
        <a [routerLink]="['/admin/list-phim']" routerLinkActive="router-link-active">Phim</a>

    </div>

    <div class="item item3 dropdown">
        <a *ngIf="!isLogin; else logined" [routerLink]="['/login']">Login</a>
    </div>


</div>


<ng-template #logined>

    <a id="username">{{username}}</a>
    <a [routerLink]="['/admin']" routerLinkActive="router-link-active" *ngIf="maLoaiNguoiDung === 'KhachHang'">Admin Page</a>
    <button id="Logout" (click)="logout()">Logout</button>


</ng-template>