@import '../../../sass/variables';
// $primary-color: #3f51b5;
.navbar_nav {
    margin: auto;
}

.wrapper {
   
    height: 60px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    z-index: 9;
    transition: all .2s;
    // position: fixed;
    /* Set the navbar to fixed position */
    // top: 0;
    /* Position the navbar at the top of the page */
    // overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
    a:hover {
        color: $color-primary;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
    }
    .item1 {
        justify-self: start;
        margin-left: 20px;
    }
    .item2 {
        justify-self: center;
    }
    .item3 {
        justify-self: center;
    }
    .item {
        line-height: 50px;
    }
}

.logo {
    img {
        width: 50px;
        height: 50px;
    }
}

#Logout {
    margin-left: 20px;
    border: none;
    background-color: transparent;
}

#Logout:hover {
    color: $color-primary;
    font-weight: bold;
}





// -------------------------------------------


/* Dropdown Button */
.dropbtn {
    // background-color: #4CAF50;
   
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: rgba(255, 255, 255, .95);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
     
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
   transform: translateY(-200px);
    // display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 1s;
  }
  
  /* Links inside the dropdown */


  .dropdown-content {
      width: 100%;
      line-height: 30px;
    a {
        color: black;
        padding: 4px 16px;
        text-decoration: none;
        display: block;
      }
      button {
      
        color: black;
        padding: 4px 16px;
        text-decoration: none;
        display: block;
      }
  }
   
  
  /* Change color of dropdown links on hover */

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    //   display: block;
    transform: translateY(10px);}


  /* Change the background color of the dropdown button when the dropdown content is shown */
//   .dropdown:hover .dropbtn {background-color: #3e8e41;}