<div class="wrapper ">
    <div class="item item1 logo">
        <a [routerLink]="['']"> <img class="webLogo" src="./assets/img/icons/web-logo.png"></a>

    </div>


    <div class="navbar_nav  item2 ">
        <a href=#phim-dang-chieu>Lịch Chiếu</a>
        <a href=#cum-rap>Cụm rạp</a>
        <a href=#tin-tuc>Tin tức</a>
        <a href=#tin-tuc>Ứng dụng</a>
    </div>

    <div class="item item3 ">
        <a *ngIf="!isLogin; else logined" [routerLink]="['/login']">Login</a>
    </div>





</div>


<ng-template #logined>

    <!-- <a id="username dropbtn ">{{username}}</a>
    <a [routerLink]="['/admin']" routerLinkActive="router-link-active" *ngIf="maLoaiNguoiDung === 'KhachHang'">Admin
        Page</a>
    <button id="Logout" (click)="logout()">Logout</button> -->


    <div class="dropdown">
        <a id="username dropbtn ">{{username}}</a>
        <div class="dropdown-content">
            <a [routerLink]="['/admin/list-user']" routerLinkActive="router-link-active"
                *ngIf="maLoaiNguoiDung === 'QuanTri'">Admin
                Page</a>
            <button id="Logout" (click)="logout()">Logout</button>


        </div>
    </div>



</ng-template>